{% extends "layout.html" %} {% block page_title %} Blank page {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="phase-banner">
        <p><strong class="phase-tag">ALPHA</strong><span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span></p>
    </div>
    <a href="/create/select-address" class="link-back">Back</a>
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="h1-large heading-large">Is this address correct?</h1>
            <h3 class="heading-medium">1 Example Close</h3>
            <h3 class="minus-margin-top-1 heading-medium">Swansea</h3>
            <h3 class="minus-margin-top-1 heading-medium">SA1 2BC</h3>
        </div>
    </div>
    <button class="margin-bottom-0 margin-top-3 button" type="submit">Yes, save and continue</button>
    
     <p class="margin-top-6 margin-bottom-0"><a href="/create/enter-address-manually">This address is not correct</a></p>
</main>

<script>
$(".button").click( function(){
    go("/change/confirm-address-saved")
})
</script>

{% endblock %}