{% extends "layout.html" %} {% block page_title %} Blank page {% endblock %} {% block content %}

<main id="content" role="main">
            <h4 class="log-out heading-small">Log out</h4>

    <div class="phase-banner">
        <p><strong class="phase-tag">ALPHA</strong><span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span></p>
    </div>
    <a href="commercially-yes" class="link-back">Back</a>
    <div class="margin-bottom-0 blue-panel">
        <div class="grid-row">
            <div class="column-full">
                <h1 class="margin-top-2 margin-bottom-4 panel-h1-large heading-large">What to expect</h1>
                <div class="column-two-thirds">
                    <h3 class="minus-margin-top-2 panel-h3-medium heading-medium">Authenticating using a government gateway ID</h3>
                </div>
            </div>
            <div class="column-two-thirds">
                <p class="p-panel-block">In order to use this service you will need to authenticate who you are by using a government gateway ID.</p>
                <p class="p-panel-block">If you already have a government gateway user ID you will be prompted to sign in.</p>
                <p class="p-panel-block">If you do not, you will need to set up a user ID.</p>
                <p class="margin-top-4 p-panel-block">To set up a user ID as an individual you will need to provide:</p>
                <ul class="bullets-panel-block list-bullet-Contents list list-bullet">
                    <li class="margin-top-0">your name and email address</li>
                </ul>
                <p class="margin-top-4 p-panel-block">To set up a user ID as a company you will need to provide:</p>
                <ul class="bullets-panel-block list-bullet-Contents list list-bullet">
                    <li class="margin-top-0">your company name and company email address</li>
                </ul>
                <div class="column-two-thirds">
                    <button class="margin-bottom-0 margin-top-3 panel-white-button-start" type="submit">Authenticate now</button>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
$(".panel-white-button-start").click( function(){
    go("/create/scp-sign-in")
})
</script>



{% endblock %}