{% extends "layout.html" %} {% block page_title %} Blank page {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="phase-banner">
        <p><strong class="phase-tag">ALPHA</strong><span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span></p>
    </div>
    <a href="/create/commercially-no" class="link-back">Back</a>
    <div class="grid-row">
        <div class="column-two-thirds">



            <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">

                <h1 class="heading-medium error-summary-heading" id="error-summary-heading">There was a problem</h1>

                <p>No option has been selected for on behalf of a company</p>

                <ul class="error-summary-list">

                    <li class="error-message a"><a href="#example-personal-details">No option has been selected for Yes or No</a></li>
                </ul>

            </div>


            <div class="form-group" id="recordcompany">


                <fieldset>

                    <legend>
                        <h1 class="margin-bottom-1 h1-large heading-large">Are you creating a trailer record on behalf of a company?</h1>
                    </legend>

                    <span class="error-message a">Select an option for Yes or No</span>

                    <div class="margin-top-1 multiple-choice">
                        <input id="record-company-1" type="radio" name="record-company" value="Yes">
                        <label for="record-company-1">Yes, for a company</label>
                    </div>
                    <div class="multiple-choice">
                        <input id="record-company-2" type="radio" name="record-company" value="No">
                        <label for="record-company-2">No, for myself</label>
                    </div>

                </fieldset>

            </div>


            <button class="margin-bottom-0 margin-top-3 button" type="submit">Continue</button>
        </div>
    </div>
</main>




<script type="text/javascript">
    $('.button').click(validate);


    function validate() {

        validInput = true;

        hideErrors();

        var company = $('input[name=record-company]:checked').val();

        if (!company) {
            showErrors('#recordcompany', '.error-message.a');
        }

        if (company) {
            member.company = company;

            if (company == 'Yes') {
                go('/create/authenticate-company');

            } else if (company == 'No') {
                go('/create/authenticate-individual');
            }
        }
    }
</script>



{% endblock %}