{% extends "layout.html" %} {% block page_title %} Blank page {% endblock %} {% block content %}

<main id="content" role="main">
    <div class="phase-banner">
        <p><strong class="phase-tag">ALPHA</strong><span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span></p>
    </div>
    <a href="email-address" class="link-back">Back</a>
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="h1-large heading-large">Check your answers</h1>
            <h3 class="heading-medium">Your details</h3>
        </div>
        <div class="margin-bottom-2 minus-margin-top-4 column-full">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="columns-third" scope="row">Name</td>
                        <td class="bold second-column">Haulage Company</td>
                        <td class="last-column"><a href="/change/name">Change</a></td>
                    </tr>
                    <tr>
                        <th class="first-column columns-third" scope="row">Address</th>
                        <td class="bold">Unit 123 <br>2 Example Close <br>Swansea <br>SA1 2BC</td>
                        <td class="last-column"><a href="/change/address">Change</a></td>
                    </tr>
                    <tr>
                        <th class="columns-third" scope="row">Email address</th>
                        <td class="bold second-column">email@email.com</td>
                        <td class="last-column"><a href="/change/email-address">Change</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <button class="margin-bottom-0 margin-top-3 button" type="submit">Create trailer keeper record</button>
</main>

<script>
    $(".button").click(function() {
        go("/create/confirmation")
    })
</script>

{% endblock %}