{% extends "layout.html" %} {% block page_title %} Blank page {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="phase-banner">
        <p><strong class="phase-tag">ALPHA</strong><span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span></p>
    </div>
    <div><a href="#" class="link-back">Back</a>
        <div class="grid-row">
            <div class="column-two-thirds">
                <div class="warning-panel">
                    <h1 class="heading-large">You do not need to <br>create a trailer record</h1>
                </div>
            <p>You only have to create a trailer record to register non-commercial trailers that weigh over 3,500kg.</p>
            <p>Under UK law you do not need to register your trailer, however you may be required to produce a UK Trailer Registration Certificate at foreign borders.</p>
            <p>You can still create a trailer record if you want to.</p>
            <button class="margin-bottom-3 button" type="submit">I still want to create a trailer record</button>
            <p class="margin-bottom-0"><a href="/index">Return to GOV.UK</a></p>
                            </div>

        </div>

    </div>
</main>

<script>
    $(".button").click(function() {
        go("/create/behalf-of-company")
    })
</script>

{% endblock %}