{% extends "layout.html" %} {% block page_title %} Blank page {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="phase-banner">
        <p><strong class="phase-tag">ALPHA</strong><span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span></p>
    </div>
    <a href="keeper-company" class="link-back">Back</a>
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

                <h1 class="heading-medium error-summary-heading" id="error-summary-heading">There was a problem</h1>

                <p>No address details have been provided</p>

                <ul class="error-summary-list">

                    <li class="error-message a"><a href="#building-name-no">Enter your building name or number</a></li>
                    <li class="error-message b"><a href="#postcode">Enter your postcode</a></li>

                </ul>

            </div>

            <h1 class="h1-large heading-large">Find your company address</h1>

            <form>
                <div class="form-group">
                    <fieldset>

                        <div class="margin-bottom-4 form-group" id="compbuildname">

                            <label class="form-label-bold" for="comp-build-name">Building name or number</label>
                            
                            <span class="error-message a">Enter your building name or number</span>
                            
                            <input class="form-control-33 form-control" id="compbuildname" name="comp-build-name" type="building-name">
                        </div>

                        <div class="margin-bottom-4 form-group" id="postcode">

                            <label class="form-label-bold" for="postcode">Postcode</label>
                            
                            <span class="error-message b">Enter your postcode</span>
                            
                            <input class="form-control-33 form-control" id="postcode" name="postcode" type="postcode">

                        </div>
                        
                    </fieldset>
                    
                    <button class="margin-bottom-0 margin-top-3 button" type="button">Find UK address</button>

                </div>

            </form>
        </div>
    </div>
</main>


<script type="text/javascript">
    $('.button').click(validate);

    function validate() {

        validInput = true;

        hideErrors();

        var compnameno = $('input[name=comp-build-name]').val();
        var post = $('input[name=postcode]').val();

        if (!compnameno) {
            showErrors('#compbuildname', '.error-message.a');
        }

        if (!post) {
            showErrors('#postcode', '.error-message.b');
        }

        if (validInput) {
            member.companybuildingnamenumber = compnameno;
            member.postcode = post;
            go('/create/select-address-company');
        }

    }
</script>


{% endblock %}