{% extends "layout.html" %} {% block page_title %} Blank page {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="phase-banner">
        <p><strong class="phase-tag">ALPHA</strong><span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span></p>
    </div>
    <a href="/create/gdpr" class="link-back">Back</a>
    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

                <h1 class="heading-medium error-summary-heading" id="error-summary-heading">There was a problem</h1>

                <p>No company name has been provided</p>

                <ul class="error-summary-list">

                    <li><a href="#company-name">Enter your company name</a></li>

                </ul>

            </div>



            <form>

                <fieldset>

                    <div class="form-group" id="companyname">

                        <h1 class="h1-large heading-large">What is the name of your company?</h1>

                        <span class="error-message a minus-margin-top-3">Enter your company name</span>

                        <input class="form-control form-control-66" id="companyname" name="company-name" type="company-name">
                    </div>

                </fieldset>



                <button class="margin-top-3 button" type="button">Sign-in</button>

            </form>

        </div>
    </div>
</main>



<script type="text/javascript">
    $('.button').click(validate);

    function validate() {

        validInput = true;

        hideErrors();

        var compname = $('input[name=company-name]').val();

        if (!compname) {
            showErrors('#companyname', '.error-message.a');
        }

        if (validInput) {
            member.companyname = compname;
            go('/create/company-address');
        }

    }
</script>




{% endblock %}