{% extends "layout.html" %} {% block page_title %} Blank page {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="phase-banner">
        <p><strong class="phase-tag">ALPHA</strong><span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span></p>
    </div>
    <a href="/create/gdpr" class="link-back">Back</a>
    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

                <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">An error has occured! </h2>

                <p>No company name has been entered</p>

                <ul class="error-summary-list">

                    <li><a href="#company-name">Enter your company name</a></li>

                </ul>

            </div>



            <form>
                <div class="form-group">
                   
                    <h1 class="h1-large heading-large">What is your company name?</h1>
                    <fieldset>
                     
                                <label class="form-label" for="company-name">
                                    <span class="error-message">Enter your full name</span></label>
                                <input class="form-control form-control-66" id="company-name" name="company-name" type="company-name">                        

                    </fieldset>

                </div>

                <button class="margin-top-3 button" type="button">Sign-in</button>

            </form>




        </div>
    </div>
</main>

<script>
    $(".button").click(function() {

        var compname = $("input[name=company-name]").val();
        var validInput = true;

        if (!compname) {
            validInput = false;
            $(".error-summary").css("display", "block").focus();
            $(".error-message").css("display", "block");
            $("fieldset").closest(".form-group").addClass("form-group-error");
            $(document).find("input").first().addClass("form-control-error");
            $('body').scrollTop();
        }

        if (validInput) {
            go("/create/enter-address-company");
        }
    })
</script>


{% endblock %}