{% extends "layout.html" %} {% block page_title %} Blank page {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="phase-banner">
        <p><strong class="phase-tag">ALPHA</strong><span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span></p>
    </div>
    <a href="#" class="link-back">Back</a>
    <div class="grid-row">
        <div class="column-two-thirds">


            <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

                <h1 class="heading-medium error-summary-heading" id="error-summary-heading">There was a problem</h1>

                <p>No name details have been provided</p>

                <ul class="error-summary-list">

                    <li class="error-message a"><a href="#">Enter your title</a></li>
                    <li class="error-message b"><a href="#">Enter your first names</a></li>
                    <li class="error-message c"><a href="#l">Enter your last name</a></li>

                </ul>

            </div>


            <h1 class="h1-large heading-large">What is your name?</h1>


            <form>
                <div class="form-group">
                    <fieldset>

                        <div class="margin-bottom-4 form-group" id="select-title">
                            <label class="form-label-bold">Title</label>
                            
                            <span class="error-message a">Enter your title</span>

                            <select class="form-control-25 form-control" id="select-box" name="select-box">
                                <option></option>
                                <option value="Mr">Mr</option>
                                <option value="Mrs">Mrs</option>
                                <option value="Miss">Miss</option>
                                <option value="Ms">Ms</option>
                                <option value="Other">Other</option>
                            </select>

                            <div class="margin-top-2 panel panel-border-narrow" id="other">
                                <label class="form-label" for="nationalities-other-country">Other title</label>
                                <input class="form-control" type="text" id="nationalities-other-country" name="nationalities-other-country">
                            </div>
                        </div>



                        <div class="margin-bottom-4 margin-top-3 form-group" id="first-name">

                            <label class="form-label-bold" for="first-name">First names</label>
                            
                            <span class="error-message b">Enter your first names</span>

                            <input class="form-control-66 form-control" id="firs-tname" name="first-name" type="text">
                        </div>

                        <div class="margin-bottom-2 form-group" id="last-name">


                            <label class="form-label-bold" for="last-name">Last name</label>
                                
                                <span class="error-message c">Enter your last name</span>

                            <input class="form-control-66 form-control" id="last-name" name="last-name" type="text">
                        </div>
                    </fieldset>
                </div>
                
                <button class="margin-bottom-0 margin-top-3 button" type="button">Continue</button>

            </form>
        </div>
    </div>

</main>

<script>
    $('select').change(function() {
        var title = $('#select-box option:selected').val();


        if (title == 'Other') {
            $('#other').show();

        } else {
            $('#other').hide();
        }

    });

    $('.button').click(validate);

    function validate() {

        validInput = true;

        hideErrors();

        var title = $('input[name=select-title]').val();
        var firstname = $('input[name=first-name]').val();
        var lastname = $('input[name=last-name]').val();


        if (!title) {
            showErrors('#select-title', '.error-message.a');
        }  
        
        if (!firstname) {
            showErrors('#first-name', '.error-message.b');
        }
        
        if (!lastname) {
            showErrors('#last-name', '.error-message.c');
        }


        if (validInput) {
            member.title = title;
            member.firstname = firstname;
            member.lastname = lastname;
            go('/create/address');
        }

    }
</script>

{% endblock %}