{% extends "layout.html" %} {% block page_title %} Blank page {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="phase-banner">
        <p><strong class="phase-tag">ALPHA</strong><span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span></p>
    </div>
    <a href="/create/gdpr" class="link-back">Back</a>
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="h1-large heading-large">What is your company name?</h1>
           <div class="form-group">
                <input class="form-control" id="company-name" name="company-name" type="company-name">
            </div>
            <button class="margin-bottom-0 margin-top-3 button" type="submit">Continue</button>
        </div>
    </div>
</main>

<script>
    $(".button").click(function() {

        var Company = $("#company-name").val();
        console.log("Company = "+Company);
        
        if(!Company){
            alert("company name can not be empty");
        }
            
        
        if(Company){
            go ("/create/address");
        }
    })

</script>


{% endblock %}