{% extends "layout.html" %} {% block page_title %} Blank page {% endblock %} {% block content %}

<main id="content" role="main">
        <h4 class="log-out heading-small">Log out</h4>

    <div class="phase-banner">
        <p><strong class="phase-tag">ALPHA</strong><span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span></p>
    </div>
    <div></div><a href="#" class="link-back">Back</a>
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="warning-panel">
                <h1 class="margin-top-2 heading-large">You do not need to <br>register your trailers</h1>
            </div>
        </div>
    </div>
    <p>You still have the option to register if you want to.</p>
    <button class="button" type="submit">I still want to register</button>
    <p class="margin-bottom-0"><a href="#">Return to GOV.UK</a></p>
</main>

{% endblock %}