{% extends "layout.html" %} {% block page_title %} Blank page {% endblock %} {% block content %}

<style>
    .error-summary {
        display: none;
    }

    .error-message {
        display: none;
    }

</style>


<main id="content" role="main">

    <div class="phase-banner">
        <p><strong class="phase-tag">ALPHA</strong><span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span></p>
    </div>
    <a href="/create/trailer-keeper-number" class="link-back">Back</a>
    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

                <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">An error has occured! </h2>

                <p>No option has been selected for gross weight</p>

                <ul class="error-summary-list">

                    <li><a href="#example-gross-weight">Select an option of yes or no</a></li>

                </ul>

            </div>

            <h1 class="margin-bottom-1 h1-large heading-large">Do you have any trailers that weigh over 750kg in gross weight?</h1>

            <details>
                <summary><span class="summary">What is gross weight?</span></summary>
                <div class="panel panel-border-narrow">
                    <p>This is specified by the manufacturer and it means the maximum weight the trailer is allowed to be when fully loaded. It is the unladen weight of the trailer plus the maximum permitted payload. It is also known as the Maximum Permissible Mass.</p>

                </div>
            </details>


            <div class="margin-top-2">
                <form>
                    <div class="form-group">
                        <fieldset class="inline">
                            <legend id="example-gross-weight">
                                <span class="error-message">Select an option of yes or no</span>
                            </legend>

                            <div class="multiple-choice">
                                <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
                                <label for="radio-inline-1">Yes</label>
                            </div>
                            <div class="multiple-choice">
                                <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
                                <label for="radio-inline-2">No</label>
                            </div>
                        </fieldset>
                    </div>
                </form>
            </div>


            <button class="margin-bottom-0 margin-top-2 button" type="submit">Continue</button>
        </div>
    </div>
</main>

<script>
    $(".button").click(function() {

        var input = $("input[name=radio-inline-group]:checked").val();
        var validInput = true;

        if (!input) {
            validInput = false;
            $(".error-summary").css("display", "block").focus();
            $(".error-message").css("display", "block");
            $(".form-group").addClass("form-group-error");
            $('body').scrollTop();
        } else {
            if (input == "Yes") {
                go("/create/outside-uk");

            } else {
                if (input == "No") {
                    go("/create/over-750-no");
                }
            }

        }
    })

</script>



{% endblock %}
