{% extends "layout.html" %} {% block page_title %} Blank page {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="phase-banner">
        <p><strong class="phase-tag">ALPHA</strong><span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span></p>
    </div>
    <div class="grid-row">
        <div class="column-full">
            <p class="languages">English | <a href="#">Cymraeg</a></p>
        </div>
        <div class="column-two-thirds">

            <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">

                <h1 class="heading-medium error-summary-heading" id="error-summary-heading">There was a problem</h1>

                <p>The User ID or Password have not been provided</p>

                <ul class="error-summary-list">

                    <li class="error-message a"><a href="#">Enter your User ID</a></li>
                    <li class="error-message b"><a href="#">Enter your Password</a></li>

                </ul>

            </div>

                <h1 class="margin-bottom-0 h1-large heading-large">Create a password</h1>
                
                <p class="margin-top-4">Your password must:</p>
                
                <ul class="list list-bullet">
                    <li>be between 8 and 12 characters</li>
                    <li>have at least one number (0-9)</li>
                    <li>have at least one letter</li>
                    <li>not contain special characters</li>
                </ul>
            
             <form>
                <div class="form-group">

                    <fieldset>
                        <div class="form-group margin-top-1" id="userid">
                            <label class="form-label-bold margin-bottom-1" for="user-id">
                                User ID</label>
                                
                                <span class="error-message a">Enter your User ID</span>
                         
                            <input class="form-control" id="userid" name="user-id" type="text">
                        </div>

                        <div class="form-group margin-top-2" id="password">

                            <label class="form-label-bold margin-bottom-1 margin-top-2" for="password">Password</label>
                            
                                <span class="error-message b">Enter your Password</span>

                            <input class="form-control" id="password" name="password" type="text">
                        </div>

                    </fieldset>

                </div>
                
                <button class="margin-top-3 button" type="button">Sign in</button>

            </form>


            <div>
                <p><a href="#">Set up a user ID</a></p>
                <h1 class="margin-top-7 heading-medium">Problems signing in</h1>
                <p class="margin-bottom-3"><a href="#"><a href="#">Help with signing in</a></a>
                </p>
                <p class="margin-top-1"><a href="#">I have forgotten my password</a>
                    <p class="minus-margin-top-1"><a href="#">I have forgotten my user ID</a>
                        <p/>
                        <p class="margin-bottom-3 minus-margin-top-1"><a href="#">I have forgotten my user ID and password</a></p>
                        <div class="padding-top-1">
                            <p class="margin-bottom-0"><a href="#">Get help</a></p>
                        </div>
            </div>
        </div>
    </div>
</main>


<script type="text/javascript">
    $('.button').click(validate);

    function validate() {

        validInput = true;

        hideErrors();

        var userid = $('input[name=user-id]').val();
        var pass = $('input[name=password]').val();

        if (!userid) {
            showErrors('#userid', '.error-message.a');
        }

        if (!pass) {
            showErrors('#password', '.error-message.b');
        }

        if (validInput) {
            member.userid = userid;
            member.password = pass;
            go('/create/scp-recovery');
        }

    }
</script>



{% endblock %}

    
