{% extends "layout.html" %} {% block page_title %} Blank page {% endblock %} {% block content %}

<main id="content" role="main">
                <h4 class="log-out heading-small">Log out</h4>

    <div class="phase-banner">
        <p><strong class="phase-tag">ALPHA</strong><span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span></p>
    </div>
    <div class="grid-row">
        <div class="column-full">
            <p class="languages">English | <a href="#">Cymraeg</a></p>
        </div>
        <div class="column-two-thirds">
            <h1 class="margin-bottom-0 h1-large heading-large">Create a password</h1>
            <p class="margin-top-4">Your password must:</p>
            <ul class="list list-bullet">
                <li>be between 8 and 12 characters</li>
                <li>have at least one number (0-9)</li>
                <li>have at least one letter</li>
                <li>not contain special characters</li>
            </ul>
            <div class="form-group">
                <label class="padding-top-1 form-label" for="first-name-2"><strong class="bold-small">Enter password</strong></label>
                <input class="form-control" id="first-name-2" name="first-name-2" type="text">
            </div>
            <div class="form-group">
                <label class="form-label" for="first-name-2"><strong class="bold-small">Confirm password</strong></label>
                <input class="form-control" id="first-name-2" name="first-name-2" type="text">
            </div>
            <button class="margin-top-3 button" type="submit">Continue</button>
            <p class="margin-bottom-0"><a href="#">Get help</a></p>
        </div>
    </div>
</main>

<script>
$(".button").click( function(){
    go("/create/scp-recovery")
})
</script>

{% endblock %}