{% extends "layout.html" %} {% block page_title %} Blank page {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="phase-banner">
        <p><strong class="phase-tag">ALPHA</strong><span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span></p>
    </div>
    <div class="grid-row">
        <div class="column-half">
            <a href="/create/scp-sign-in" class="link-back">Back</a>
        </div>
        <div class="column-half">
            <p class="languages">English | <a href="#">Cymraeg</a></p>
        </div>
        <div class="column-two-thirds">

            <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">

                <h2 class="heading-medium error-summary-heading" id="error-summary-heading">There was a problem </h2>

                <p>An email address has not been provided</p>

                <ul class="error-summary-list">

                    <li class="error-message a"><a href="#">Enter your email address</a></li>

                    <li class="error-message b"><a href="#">Select box if email address is correct</a></li>

                </ul>

            </div>

            <h1 class="margin-bottom-1 h1-large heading-large">What is your email address?</h1>

            <p>We will send you a code to confirm your email adresss</p>

            <form>

                <div class="form-group">

                    <fieldset>

                        <div class="form-group" id="qemail">
                            <label class="form-label" for="email"> </label>

                            <span class="error-message a">Enter your email address</span>


                            <input class="form-control" id="email" name="email" type="text">
                        </div>

            
                        <div class="form-group margin-top-3" id="qcheckemail">

                            <span class="error-message b">Select box if email address is correct</span>

                            <div class="multiple-choice">
                                <input name="checkemail" type="checkbox" value="true">
                                <label for="qcheckemail">This email address is correct</label>
                            </div>


                        </div>


                    </fieldset>
                </div>

                
                
                
                <input id="Continue" name="Continue" class="button margin-bottom-0 margin-top-0" type="button" value="Continue">
                
            </form>

            <p class="margin-top-3 margin-bottom-0"><a href="#">Get help</a></p>



        </div>
    </div>

</main>

<script type="text/javascript">
    $('.button').click(validate);

    function validate() {

        validInput = true;

        hideErrors();

        var email = $('input[name=email]').val();
        var check = $('input[name=checkemail]:checked').val();

        if (!email) {
            showErrors('#qemail', '.error-message.a');
        }

        if (!check) {
            showErrors('#qcheckemail', '.error-message.b');
        }

        if (validInput) {
            member.email = email;
            member.check = check;
            go('/create/scp-confirm-email');
        }

    }
</script>


{% endblock %}