{% extends "layout.html" %} {% block page_title %} Blank page {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="phase-banner">
        <p><strong class="phase-tag">ALPHA</strong><span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span></p>
    </div>
    <div class="grid-row">
        <div class="column-half">
            <a href="/create/scp-sign-in" class="link-back">Back</a>
        </div>
        <div class="column-half">
            <p class="languages">English | <a href="#">Cymraeg</a></p>
        </div>
        <div class="column-two-thirds">

            <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

                <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">An error has occured! </h2>

                <p>An email address has not been provided</p>

                <ul class="error-summary-list">

                    <li><a href="#scp-email">Enter your email address</a></li>
                    
                    <li><a href="#checkbox-email">Select box if email address is correct</a></li>

                </ul>

            </div>

            <h1 class="margin-bottom-1 h1-large heading-large">What is your email address?</h1>

            <p>We will send you a code to confirm your email adresss</p>

            <form>

                <div class="form-group">
                    
                    <fieldset class="minus-margin-bottom-4">
                        <div>
                            <label class="form-label" for="scp-user-email">
                            
                                <span class="error-message scp-email">Enter your email address</span>
                            </label>

                            <input class="form-control" id="scp-email" name="scp-user-email" type="text">
                        </div>

                        <div class="margin-top-3 form-group">
                            <span class="error-message checkbox-email">Select box if email address is correct</span>

                            <div class="multiple-choice">
                                <input class="form-control" id="checkbox-email" name="scp-email-checkbox" type="checkbox" value="true">

                                <label for="checkbox-email">This email address is correct</label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <button class="margin-top-3 button" type="button">Continue</button>

            </form>

            <p class="margin-bottom-0"><a href="#">Get help</a></p>



        </div>
    </div>

</main>

<script type="text/javascript">
    // Run validation script
    $('.button').click(validate);

    // Validation script
    function validate() {
        var validInput = true; // Set input to true (Only for input fields)
        var value = $('input[name=scp-user-email]').val(); // Store value from input field as "value"
        var value = $('input[name=scp-email-checkbox]').val(); // Store value from input field as "value"

        // If value is blank or undefined
        if (!value) {
            validInput = false; // Set input to false so validInput doesnt run next()
            $(".error-summary").css("display", "block").focus();
            $(".error-message").css("display", "block");
            $(".form-group").addClass("form-group-error");
            $('body').scrollTop();
        }

        // Only if validInput is true
        if (validInput) {
            if (member.user === undefined) {
                member.user = {};
            }
            member.user.email = value; // This stores 'value' in member
            member.user.email_check = value; // This stores 'value' in member
            next(); // Runs next()
        }

        // Routing if validInput = true
        function next() {

            go('/create/scp-confirm-email');

        }

    }
</script>



<!--
<script>
    $(".button").click(function() {

        var scpemail = $("input[name=scp-email-address]").val();
        var scpcheckemail = $("input[name=scp-email-address]:checked").val();
        var validInput = true;

        if (!scpemail) {
            validInput = false;
            $(".error-summary").css("display", "block").focus();
            $(".error-message.scp-email-address").css("display", "block");
            $("input[name=scp-email-address]").closest(".form-group").addClass("form-group-error");
            $(document).find("input").first().addClass("form-control-error");
            $('body').scrollTop();
        }

        if (!scpcheckemail) {
            validInput = false;
            $(".error-summary").css("display", "block");
            $(".error-message.checkbox-email-address").css("display", "block");
            $("input[name=scp-email-address]").closest(".form-group").addClass("form-group-error");
            $(document).find("input").last().addClass("form-control-error");
            $('body').scrollTop();
        }

        if (validInput) {
            go("/create/scp-confirm-email");
        }
    })
</script>
-->



{% endblock %}