{% extends "layout.html" %} {% block page_title %} Blank page {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="phase-banner">
        <p><strong class="phase-tag">ALPHA</strong><span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span></p>
    </div>
    <div class="grid-row">
        <div class="column-full">
            <p class="languages">English | <a href="#">Cymraeg</a></p>
        </div>
        <div class="column-full">
            <h1 class="margin-bottom-0 h1-large heading-large">Set up a recovery word</h1>
            <p class="margin-top-4">Make a note of this word in case you need it in the future.</p>
            <p>The word must:</p>
            <ul class="margin-bottom-4 list-bullet-Contents list list-bullet">
                <li>be between 6 and 12 characters</li>
                <li>not contain spaces or special characters</li>
                <li>not contain numbers</li>
            </ul>
            <div class="margin-bottom-2 form-group">
                <label class="form-label" for="recovery-word"><strong class="bold-small">Recovery word</strong></label><input class="form-control-33 margin-top-0 form-control" id="recovery-word" name="recovery-word" type="recovery-word">
            </div>
            <button class="margin-top-3 button" type="submit">Continue</button>
            <p class="margin-bottom-0"><a href="#">Get help</a></p>
        </div>
    </div>
</main>

<script>
    $(".button").click(function() {

        var Recovery = $("#recovery-word").val();
        console.log("Recovery = "+Recovery);  
        
        if(!Recovery){
            alert("recovery word can not be empty");
        }      
        
        if(Recovery){
            go ("/create/scp-user-ID");
        }
    })

</script>


{% endblock %}