{% extends "layout.html" %} {% block page_title %} Blank page {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="phase-banner">
        <p><strong class="phase-tag">ALPHA</strong><span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span></p>
    </div>
    <div class="grid-row">
        <div class="column-half">
            <a href="/create/scp-email-address" class="link-back">Back</a>
        </div>
        <div class="column-half">
            <p class="languages">English | <a href="#">Cymraeg</a></p>
        </div>
        <div class="column-two-thirds">

            <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

                <h2 class="heading-medium error-summary-heading" id="error-summary-heading">There was a problem</h2>

                <p>No email code has been provided</p>

                <ul class="error-summary-list">

                    <li class="error-message a"><a href="#">Enter the code that was sent to your email address</a></li>

                </ul>

            </div>

            <h1 class="margin-top-2 h1-large heading-large ">Confirm your email address</h1>
            <p>We have sent a code to <strong class="bold-small">email@email.com</strong>.</p>


            <form>

                <div class="form-group margin-bottom-0" id="emailcode">

                    <label class="form-label-bold" for="emailcode">Enter code</label>
                    <p class="form-hint margin-bottom-0">For example, CF-DNCLRK.</p>


                    <span class="error-message a">Enter the code that was sent to your email address</span>

                    <p class="margin-bottom-0">CF- <input class="form-control-150px form-control margin-bottom-0" id="emailcode" type="text" name="emailcode"></p>

                </div>



                <details class="margin-bottom-1 margin-top-4">
                    <summary class="summary margin-top-0">I have not got the email</summary>

                    <div class="panel panel-border-narrow">
                        <p>It might take a few minutes for the email above to arrive. The subject of the email is 'Confirm your email address – Government Gateway'.</p>
                        <p>If you still have not got the email, check your spam folder. If it is not in your spam folder you can <a href="#">request a new code</a> or <a href="#">start again</a></p>
                    </div>
                </details>




                <div>

                    <input id="Sign-in" name="Sign-in" class="button margin-bottom-3" type="button" value="Confirm">

                </div>

                <p class="margin-bottom-0"><a href="#">Get help</a></p>

            </form>
        </div>

    </div>

</main>


<script type="text/javascript">
    $('.button').click(validate);

    function validate() {

        validInput = true;

        hideErrors();

        var confirm = $('input[name=emailcode]').val();

        if (!confirm) {
            showErrors('#emailcode', '.error-message.a');
        }

        if (validInput) {
            member.confirm = confirm;
            go('/create/scp-email-confirmed');
        }

    }
</script>



{% endblock %}