{% extends "layout.html" %} {% block page_title %} Blank page {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="phase-banner">
        <p><strong class="phase-tag">ALPHA</strong><span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span></p>
    </div>
    <div class="grid-row">
        <div class="column-half">
            <a href="/create/scp-sign-in" class="link-back">Back</a>
        </div>
        <div class="column-half">
            <p class="languages">English | <a href="#">Cymraeg</a></p>
        </div>
        <div class="column-two-thirds">

            <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

                <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">An error has occured! </h2>

                <p>An email address has not been provided</p>

                <ul class="error-summary-list">

                    <li><a href="#example-scp-user-id">Enter your email address</a></li>

                </ul>

            </div>

            <h1 class="margin-bottom-1 h1-large heading-large">What is your email address?</h1>

            <p>We will send you a code to confirm your email adresss</p>

            <form>

                <div class="form-group">

                    <input class="margin-top-2 form-control" id="email-address" name="email-address" type="tel">
                </div>
                <div class="form-group">
                    <div class="multiple-choice">
                        <input id="checkbox-email-address" name="email-address" type="checkbox" value="true">
                        <label for="checkbox-email-address">This email address is correct</label>
                    </div>
                </div>

                <button class="margin-top-3 button" type="submit">Continue</button>
                <p class="margin-bottom-0"><a href="#">Get help</a></p>
            </form>

        </div>

    </div>
</main>

<script>
        $(".button").click(function() {
    
            var email = $("input[name=email-address]").val();
            var validInput = true;
    
            if (!email) {
                validInput = false;
                $(".error-summary").css("display", "block").focus();
                $(".error-message.email-address").css("display", "block");
                $("input[name=email-address]").closest(".form-group").addClass("form-group-error");
                $(document).find("input").first().addClass("form-control-error");
                $('body').scrollTop();
                
            }
    
            if (validInput) {
                go("/create/scp-confirm-email");
            }
        })

</script>

<!--
<script>
    $(".button").click(function() {

        var Email = $("#email-address").val();
        console.log("Email = " + Email);

        if (!Email) {
            alert("email can not be empty");
        }

        if (Email) {
            go("/create/scp-confirm-email");
        }
    })
</script>
-->

{% endblock %}