{% extends "layout.html" %} {% block page_title %} Blank page {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="phase-banner">
        <p><strong class="phase-tag">ALPHA</strong><span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span></p>
    </div>
    <div class="grid-row">
        <div class="column-full">
            <p class="languages">English | <a href="#">Cymraeg</a></p>
        </div>
        <div class="column-two-thirds">
            <h1 class="h1-large heading-large">Email address confirmed</h1>
            <div class="grid-row">
                <div class="column-full">
                    <button class="margin-top-0 button" type="submit">Continue</button>
                    <p class="margin-top-3 margin-bottom-0"><a href="#">Get help</a></p>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
$(".button").click( function(){
    go("/create/scp-full-name")
})
</script>

{% endblock %}