{% extends "layout.html" %} {% block page_title %} Blank page {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="phase-banner">
        <p><strong class="phase-tag">ALPHA</strong><span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span></p>
    </div>
    <div class="grid-row">
        <div class="column-half">
            <a href="/create/scp-email-confirmed" class="link-back">Back</a>
        </div>
        <div class="column-half">
            <p class="languages">English | <a href="#">Cymraeg</a></p>
        </div>
        <div class="column-two-thirds">

            <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

                <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">There was a problem</h2>

                <p>Your full name has not been provided</p>

                <ul class="error-summary-list">

                    <li><a href="#scp-full-name">Enter your full name</a></li>

                </ul>

            </div>

            <h1 class="h1-large heading-large">What is your full name?</h1>

            <form>
                <div class="form-group">

                    <fieldset class="minus-margin-bottom-4">

                        <div class="form-group" id="fullname">

                            <div class="form-group">
                                <label class="margin-top-1 form-label" for="full-name"><strong class="bold-small">Full name</strong></label>
                                
                                    
                                    <span class="error-message a">Enter your full name</span>
                                
                                <input class="form-control" id="full-name" name="full-name" type="full-name">
                            </div>
                        </div>

                    </fieldset>

                </div>

                <div class="form-group">

                </div>

                <button class="margin-top-3 button" type="button">Sign-in</button>
                <p class="margin-bottom-0"><a href="#">Get help</a></p>

            </form>
        </div>
    </div>
</main>


<script type="text/javascript">
    $('.button').click(validate);

    function validate() {

        validInput = true;

        hideErrors();

        var fullname = $('input[name=full-name]').val();

        if (!fullname) {
            showErrors('#fullname', '.error-message.a');
        }

        if (validInput) {
            member.fullname = userid;
            //            member.password = pass;
            go('/create/scp-password');
        }

    }
</script>


{% endblock %}
