{% extends "layout.html" %} {% block page_title %} Blank page {% endblock %} {% block content %}


<main id="content" role="main">

    <div class="phase-banner">
        <p><strong class="phase-tag">ALPHA</strong><span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span></p>
    </div>
    <div class="grid-row">
        <div class="column-full">
            <p class="languages">English | <a href="#">Cymraeg</a></p>
        </div>
        <div class="column-two-thirds">

            <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

                <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">An error has occured! </h2>

                <p>The User ID or Password have not been entered</p>

                <ul class="error-summary-list">

                    <li><a href="#scp-user-id">Enter your User ID</a></li>

                    <li><a href="#scp-password">Enter your Password</a></li>

                </ul>

            </div>

            <h1 class="margin-bottom-1 h1-xlarge heading-xlarge">Sign in using Government Gateway</h1>


            <form>
                <div class="form-group">

                    <fieldset class="minus-margin-bottom-4">
                        <div class="form-group margin-top-1">
                            <label class="margin-bottom-1 form-label" for="scp-user-id">
                                <strong class="bold-small">User ID</strong>
                                <span class="error-message scp-user-id">Enter your User ID</span>
                            </label>
                            

                            <input class="form-control" id="scp-user-id" name="scp-user-id" type="text">
                        </div>

                        <div class="form-group margin-top-2">

                            <label class="margin-bottom-1 margin-top-5 form-label" for="scp-password">
                                <strong class="bold-small">Password</strong>
                                <span class="error-message scp-user-id">Enter your Password</span>
                            </label>
                            

                            <input class="form-control" id="scp-password" name="scp-user-id" type="text">
                        </div>

                    </fieldset>

                </div>
                
                <button class="margin-top-6 button" type="button">Sign in</button>

            </form>


            <div>
                <p><a href="#">Set up a user ID</a></p>
                <h1 class="margin-top-6 heading-medium">Problems signing in</h1>
                <p class="margin-bottom-3"><a href="#"><a href="#">Help with signing in</a></a>
                </p>
                <p class="margin-top-1"><a href="#">I have forgotten my password</a>
                    <p class="minus-margin-top-1"><a href="#">I have forgotten my user ID</a>
                        <p/>
                        <p class="margin-bottom-3 minus-margin-top-1"><a href="#">I have forgotten my user ID and password</a></p>
                        <div class="padding-top-1">
                            <p class="margin-bottom-0"><a href="#">Get help</a></p>
                        </div>
            </div>
        </div>
    </div>
</main>

<script>
        $(".button").click(function() {
    
            var scpuserid = $("input[name=scp-user-id]").val();
            var scppass = $("input[name=scp-user-id]").val();
            var validInput = true;
    
            if (!scpuserid) {
                validInput = false;
                $(".error-summary").css("display", "block").focus();
                $(".error-message.scp-user-id").css("display", "block");
                $("input[name=scp-user-id]").closest(".form-group").addClass("form-group-error");
                $(document).find("input").first().addClass("form-control-error");
                $('body').scrollTop();
            }
    
            if (!scppass) {
                validInput = false;
                $(".error-summary").css("display", "block");
                $(".error-message.scp-password").css("display", "block");
                $("input[name=scp-password]").closest(".form-group").addClass("form-group-error");
                $(document).find("input").last().addClass("form-control-error");
                $('body').scrollTop();
            }
    
            if (validInput) {
                go("/create/scp-email-address");
            }
        })

</script>

{% endblock %}
