{% extends "layout.html" %} {% block page_title %} Blank page {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="phase-banner">
        <p><strong class="phase-tag">ALPHA</strong><span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span></p>
    </div>
    <div class="grid-row">
        <div class="column-full">
            <p class="languages">English | <a href="#">Cymraeg</a></p>
        </div>
        <div class="column-two-thirds">
            <div class="confirmation-panel">
                <h1 class="h1-large heading-large">Your user ID is</h1>
                <h1 class="minus-margin-top-1 heading-large">49 21 78 79 24 95</h1>
            </div>
        </div>
    </div>
    <p class="large">Your user ID has been sent to <strong class="bold-small">email@email.com</strong></p>
    <p>You will need this ID and your password every time you sign in to <br>Government Gateway.</p>
    <button class="margin-top-3 button" type="submit">Continue</button>
    <p class="margin-bottom-0"><a href="#">Get help</a></p>
</main>

<script>
$(".button").click( function(){
    go("/create/gdpr")
})
</script>

{% endblock %}