{% extends "layout.html" %} {% block page_title %} Blank page {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="phase-banner">
        <p><strong class="phase-tag">ALPHA</strong><span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span></p>
    </div>
    <div class="grid-row">
        <div class="column-full">
            <p class="languages">English | <a href="#">Cymraeg</a></p>
        </div>
        <div class="column-two-thirds">

            <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

                <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">An error has occured! </h2>

                <p>You have not eneterd a recovery word</p>

                <ul class="error-summary-list">

                    <li><a href="#scp-recovery-word">Enter your recovery word</a></li>

                </ul>

            </div>

            <h1 class="margin-bottom-0 h1-large heading-large">Set up a recovery word</h1>
            <p class="margin-top-4">Make a note of this word in case you need it in the future.</p>
            <p>The word must:</p>
            <ul class="margin-bottom-4 list-bullet-Contents list list-bullet">
                <li>be between 6 and 12 characters</li>
                <li>not contain spaces or special characters</li>
                <li>not contain numbers</li>
            </ul>

            <form>
                <div class="form-group">

                  

                        <div class="form-group">

                            <div class="margin-bottom-2 form-group">
                                <label class="form-label" for="recovery-word">
                                    <strong class="bold-small">Recovery word</strong>               
                                    <span class="error-message scp-recovery-word">Enter your recovery word</span></label>
                                <input class="form-control-33 margin-top-0 form-control" id="scp-recovery-word" name="scp-recovery-word" type="recovery-word">
                            </div>
                        </div>

                  

                </div>

                <div class="form-group">

                </div>

                <button class="margin-top-3 button" type="button">Continue</button>
                <p class="margin-bottom-0"><a href="#">Get help</a></p>

            </form>

        </div>
    </div>
</main>

<script>
    $(".button").click(function() {

        var recoveryword = $("input[name=scp-recovery-word]").val();
        var validInput = true;

        if (!recoveryword) {
            validInput = false;
            $(".error-summary").css("display", "block").focus();
            $(".error-message.scp-recovery-worde").css("display", "block");
            $("input[name=sscp-recovery-word]").closest(".form-group").addClass("form-group-error");
            $(document).find("input").first().addClass("form-control-error");
            $('body').scrollTop();
        }

        if (validInput) {
            go("/create/scp-user-id");
        }
    })
</script>


{% endblock %}