{% extends "layout.html" %} {% block page_title %} Blank page {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="phase-banner">
        <p><strong class="phase-tag">ALPHA</strong><span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span></p>
    </div>
    <div class="grid-row">
        <div class="column-half">
            <a href="/create/scp-email-address" class="link-back">Back</a>
        </div>
        <div class="column-half">
            <p class="languages">English | <a href="#">Cymraeg</a></p>
        </div>
        <div class="column-two-thirds">

            <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

                <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">An error has occured! </h2>

                <p>No email code has been provided</p>

                <ul class="error-summary-list">

                    <li><a href="#scp-email-code">Enter the code that was sent to your email address</a></li>

                </ul>

            </div>

            <h1 class="margin-top-2 h1-large heading-large">Confirm your email address</h1>
            <p>We have sent a code to <strong class="bold-small">email@email.com</strong>.</p>


            <form>
                <div class="form-group">
                    <div>

                        <label class="form-label" for="ni-number">Enter code
                            <span class="form-hint">For example, CF-DNCLRK.</span>
                        
                        <span>No email code has been provided</span>
                            </label>

                        <span class="error-message scp-email-code">Enter the code that was sent to your email address</span>
                        <p>CF- <input class="margin-left-0 form-control-150px form-control" id="scp-email-code" type="text" name="scp-email-code"></p>
                    </div>


                </div>

                <details>
                    <summary><span class="summary">I have not got the email</span></summary>
                    <div class="panel panel-border-narrow">
                        <p>It might take a few minutes for the email above to arrive. The subject of the email is 'Confirm your email address – Government Gateway'.</p>
                        <p>If you still have not got the email, check your spam folder. If it is not in your spam folder you can <a href="#">request a new code</a> or <a href="#">start again</a></p>
                    </div>
                </details>

                <div class="form-group">

                </div>

                <button class="margin-top-3 button" type="button">Confirm</button>
                <p class="margin-bottom-0"><a href="#">Get help</a></p>

            </form>

        </div>
    </div>
</main>

<script>
    $(".button").click(function() {

        var emailcode = $("input[name=scp-email-code]").val();
        var validInput = true;

        if (!emailcode) {
            validInput = false;
            $(".error-summary").css("display", "block").focus();
            $(".error-message.scp-email-code").css("display", "block");
            $("input[name=scp-email-code]").closest(".form-group").addClass("form-group-error");
            $(document).find("input").first().addClass("form-control-error");
            $('body').scrollTop();
        }

        if (validInput) {
            go("/create/scp-email-confirmed");
        }
    })
</script>

{% endblock %}
