{% extends "layout.html" %} {% block page_title %} Blank page {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="phase-banner">
        <p><strong class="phase-tag">ALPHA</strong><span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span></p>
    </div>
    <div class="grid-row">
        <div class="column-full">
            <p class="languages">English | <a href="#">Cymraeg</a></p>
        </div>
        <div class="column-two-thirds">

            <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

                <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">An error has occured! </h2>

                <p>The User ID or Password has been typed incorrectly</p>

                <ul class="error-summary-list">

                    <li><a href="#example-scp-user-id">Re-enter your User ID</a></li>
                    <li><a href="#example-scp-user-id">Re-enter your User ID</a></li>

                </ul>

            </div>

            <h1 class="margin-bottom-0 h1-large heading-large">Create a password</h1>
            <p class="margin-top-4">Your password must:</p>
            <ul class="list list-bullet">
                <li>be between 8 and 12 characters</li>
                <li>have at least one number (0-9)</li>
                <li>have at least one letter</li>
                <li>not contain special characters</li>
            </ul>


            <form>
                <div class="orm-group">

                    <fieldset class="minus-margin-bottom-4">

                        <div class="form-group form-group-error">

                            <span class="error-message scp-user-id">Re-enter your User ID</span>

                            <div class="form-group">
                                <label class="padding-top-1 form-label" for="password"><strong class="bold-small">Enter password</strong></label>
                                <input class="form-control" id="password" name="password" type="password">
                            </div>

                            <span class="error-message scp-user-id">Re-enter your User ID</span>


                            <div class="form-group">
                                <label class="form-label" for="confirm-password"><strong class="bold-small">Confirm password</strong></label>
                                <input class="form-control" id="confirm-password" name="confirm-password" type="confirm-password">
                            </div>
                        </div>

                    </fieldset>

                </div>

                <div class="form-group">

                </div>

                <button class="margin-top-3 button" type="submit">Continue</button>
                <p class="margin-bottom-0"><a href="#">Get help</a></p>

            </form>
        </div>
    </div>
</main>

<script>
    $(".button").click(function() {

        var Pass = $("#password").val();
        var Confirm = $("#confirm-password").val();
        console.log("Pass = " + Pass);
        console.log("Confirm = " + Confirm);

        if (!Pass) {
            alert("password can not be empty");
        }

        if (!Confirm) {
            alert("confirm can not be empty");
        }

        if (Pass && Confirm) {
            go("/create/scp-recovery");
        }
    })

</script>

{% endblock %}
