{% extends "layout.html" %} {% block page_title %} Blank page {% endblock %} {% block content %}

<main id="content" role="main">
            <h4 class="log-out heading-small">Log out</h4>

    <div class="phase-banner">
        <p><strong class="phase-tag">ALPHA</strong><span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span></p>
    </div>
    <div class="grid-row">
        <div class="column-full">
            <p class="languages">English | <a href="#">Cymraeg</a></p>
        </div>
        <div class="column-two-thirds">
            <h1 class="h1-xlarge heading-xlarge">Sign in using Government Gateway</h1>
            <div class="form-group">
                <label class="form-label" for="ni-number"><strong class="bold-small">User ID</strong>
                    <span class="margin-bottom-1 form-hint">This could be up-to 12 characters. It is sometimes known as <br>a Government Gateway ID.</span>
                </label>
                <input class="form-control" id="ni-number" type="text" name="ni-number">
            </div>
            <div class="form-group">
                <label class="form-label" for="ni-number"><strong class="bold-small">Password</strong></label>
                <input class="form-control" id="ni-number" type="text" name="ni-number">
            </div>
            <button class="margin-top-3 button" type="submit">Sign in</button>
            <div>
                <p><a href="#">Set up a user ID</a></p>
                <h1 class="margin-top-4 heading-medium">Problems signing in</h1>
                <p class="margin-bottom-3"><a href="#"><a href="#">Help with signing in</a></a></p>
                <p class="margin-top-1"><a href="#">I have forgotten my password</a>
                <p class="minus-margin-top-1"><a href="#">I have forgotten my user ID</a><p/>
                <p class="margin-bottom-3 minus-margin-top-1"><a href="#">I have forgotten my user ID and password</a></p>
                <div class="padding-top-1">
                    <p class="margin-bottom-0"><a href="#">Get help</a></p>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
$(".button").click( function(){
    go("/create/scp-data")
})
</script>

{% endblock %}