{% extends "layout.html" %} {% block page_title %} Blank page {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="phase-banner">
        <p><strong class="phase-tag">ALPHA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span></p>
    </div>
    <a href="/create/outside-uk" class="link-back">Back</a>
    <div class="grid-row">
        <div class="column-two-thirds">


            <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

                <h1 class="heading-medium error-summary-heading" id="error-summary-heading">There was a problem</h1>

                <ul class="error-summary-list">
                    <li class="error-message a"><a href="#example-personal-details">Select one or more of the checkboxes </a></li>
                </ul>

            </div>

            <legend>
                <h1 class="h1-large heading-large">Will you be travelling to any of the following countries, with any of <br>these trailers?</h1>
            </legend>
            <span class="body-text">Select all the countries that apply</span>

            <form>
                <fieldset>

                    <div class="form-group" id="countries">

                        <span class="error-message a">Select one or more of the checkboxes</span>

                        <div class="multiple-choice">
                            <input id="checkbox-ireland" name="countries" type="checkbox" value="Ireland">
                            <label for="country-ireland">Republic of Ireland</label>
                        </div>

                        <div class="multiple-choice">
                            <input id="checkbox-spain" name="countries" type="checkbox" value="Spain">
                            <label for="country-spain">Spain</label>
                        </div>

                        <div class="multiple-choice">
                            <input id="checkbox-cyprus" name="countries" type="checkbox" value="Cyprus">
                            <label for="country-cyprus">Cyprus</label>
                        </div>

                        <div class="multiple-choice">
                            <input id="checkbox-malta" name="countries" type="checkbox" value="Malta">
                            <label for="country-malta">Malta</label>
                        </div>

                        <p class="form-block">or</p>

                        <div class="multiple-choice" id="no-countries">
                            <input id="checkbox-no" name="countries" type="checkbox" value="no-countries">
                            <label for="no-countries">No, I won’t be travelling to any of these countries</label>
                        </div>

                    </div>

                </fieldset>


                <button class="margin-bottom-0 margin-top-3 button" type="button">Continue</button>

            </form>
        </div>
    </div>

</main>



<script type="text/javascript">
    $('.button').click(validate);

    function validate() {

        validInput = true;

        hideErrors();

        var countries = $('input[name=countries]:checked').val();

        if (!countries) {
            showErrors('#countries', '.error-message.a');
        } else {
            if (countries == 'no-countries') {
                go('/create/commercially-no');
            } else {
                member.countries = [];

                $('input[name=countries]:checked').each(function(num, el) {
                    member.countries.push(el.getAttribute('value'));
                });
                go('/create/vienna-convention-part-2');
            }
        }
    }


</script>

{% endblock %}