{% extends "layout.html" %} {% block page_title %} Blank page {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="phase-banner">
        <p><strong class="phase-tag">ALPHA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span></p>
    </div>
    <a href="/create/outside-uk" class="link-back">Back</a>
    <div class="grid-row">
        <div class="column-two-thirds">


            <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

                <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
                    Message to alert the user to a problem goes here
                </h2>

                <p>
                    Optional description of the errors and how to correct them
                </p>

                <ul class="error-summary-list">
                    <li><a href="#example-personal-details">Descriptive link to the question with an error</a></li>
                </ul>

            </div>

            <h1 class="h1-large heading-large">Will you be travelling to any of the following countries, with any of <br>these trailers?</h1>
            <span class="body-text">Select all the countries that apply</span>

            <form>
                <div class="form-group form-group-error">
                    <fieldset>

                        <legend id="example-personal-details">

                            <span class="form-label-bold">Are your personal details correct and up-to-date?</span>
                            <span class="margin-top-1 error-message">Error message about personal details goes here</span>



                        </legend>

                        <div class="multiple-choice">
                            <input id="checkbox-ireland" name="countries" type="checkbox" value="Yes-republic-of-ireland">
                            <label for="country-1">Republic of Ireland</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="checkbox-spain" name="countries" type="checkbox" value="Yes-spain">
                            <label for="country-2">Spain</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="checkbox-cyprus" name="countries" type="checkbox" value="Yes-cyprus">
                            <label for="country-3">Cyprus</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="checkbox-malta" name="countries" type="checkbox" value="Yes-malta">
                            <label for="country-4">Malta</label>
                        </div>
                        <p class="form-block">or</p>

                        <div class="multiple-choice">
                            <input id="checkbox-no" name="countries" type="checkbox" value="No-countries">
                            <label for="no-countries">No, I won’t be travelling to any of these countries</label>
                        </div>

                    </fieldset>
                </div>

                <input class="button" type="submit" value="Continue">

            </form>

        </div>
    </div>
</main>





<script type="text/javascript">
    $('input#checkbox-no').click(function() {
        $('input[name=countries]').not(this).removeAttr('checked');

        //             $(".button").click(function() {
        //                go("/create/vienna-convention-part-2")

    });

    //        });
    //        $('.button').click(validate);
    //        function validate() {
    //            var value = $('input[name=countries]:checked').val();
    //            if (!value) {
    //                hideErrors();
    //                showErrors();
    //            } else {
    //                next();
    //            }
    //            function next() {
    //                if (value == 'none') {
    //                    go('/create/used-commercially');
    //                } else {
    //                    member.countries = [];
    //                    $('input[name=countries]:checked').each(function (num, el) {
    //                        member.countries.push(el.getAttribute('value'));
    //                    });
    //                    go('/create/travelling-through');
    //                }
    //            }
    //        }


    //    $(".button").click(function() {
    //
    //        var countries = $('input[name = countries]:checked').val();
    //        console.log(countries);





    //        if (input == "Yes") {
    //            go("/create/vienna-convention-part-2");
    //
    //        } else {
    //            if (input == "No") {
    //            go("/create/vienna-convention-no");
    //
    //            } else {
    //                alert("select an option");
    //            }
    //
    //        }
    //    })



    //Yes, I'm traveling to one or more of these countries
    //    
    //    $(".button").click(function() {
    //
    //        var input = $('input[name = checkbox-yes or checkbox-no]:checked').val();
    //        console.log(input);
    //
    //
    //        if (input == "Yes");
    //
    //        } else {
    //            if (input == "No") {
    //            go("/create/commercially-no");
    //
    //            } else {
    //                alert("select an option");
    //            }
    //        
    //        }
    //    })
    //    
    //
</script>

{% endblock %}