{% extends "layout.html" %} {% block page_title %} Blank page {% endblock %} {% block content %}

<script src="/public/javascripts/accordion.js"></script>


<main id="content" role="main">
    <div class="phase-banner">
        <p><strong class="phase-tag">ALPHA</strong><span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span></p>
    </div>
    <a href="/register/trailer-record" class="link-back">Back</a>
    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="notice">
                <i class="icon icon-important">
                    <span class="visually-hidden">Warning</span>
                </i>
                <h1 class="margin-left-3 h1-large heading-large">There’s been some changes</h1>
            </div>




            <p class="margin-bottom-1 margin-top-1">You can no longer pay for the following saved trailers:</p>

            <table>
                <thead>
                    <tr>
                        <th>VIN/Chassis number</th>
                        <th>Manufacturer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>7WHLR0YJAMY137232</th>
                        <td>Concept Trailers</td>
                    </tr>

                </tbody>
            </table>

            <p class="margin-bottom-1 margin-top-4">These trailers have been removed because they’ve been registered since they were saved.</p>

            <p class="margin-top-2">The new amount to pay is <strong class="bold-small">£26</strong>.</p>

            <button class="margin-top- margin-bottom-3 button" type="submit">Go to payment</button>

        </div>

        <div class="column-one-third">
            <div class="payment-summary">
                <h3 class="margin-top-2 heading-medium">Updated summary</h3>
                <p>1 x first registration (£26)</p>
                <p>Amount to pay</p>
                <p class="margin-bottom-1 minus-margin-top-1 heading-large">£26</p>

            </div>
        </div>

    </div>
</main>

<script>
    if (
        'addEventListener' in document &&
        document.querySelectorAll
    ) {

        document.addEventListener('DOMContentLoaded', function() {

            var accordions = document.querySelectorAll('.accordion')

            for (var i = accordions.length - 1; i >= 0; i--) {
                new Accordion(accordions[i])
            };

        })

    }

    $(".button").click(function() {
        go("/register/trailer-payment")
    })
</script>

{% endblock %}