{% extends "layout.html" %} {% block page_title %} Blank page {% endblock %} {% block content %}
<main id="content" role="main">
    <h4 class="log-out heading-small">Log out</h4>
    <div class="phase-banner">
        <p><strong class="phase-tag">ALPHA</strong><span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span></p>
    </div>
    <div class="grid-row">
        <div class="margin-top-2 column-one-half">
            <h3 class="company-name heading-medium">Haulage company</h3>
        </div>

        <div class="column-one-half">
            <p class="haulage-company-company-details"><a href="/dashboard/company-details">Change company details</a></p>
        </div>
    </div>
   <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="margin-top-1 margin-bottom-1  h1-xlarge heading-xlarge">Trailer record</h1>
                   <p>You do not have any registered trailers.</p>

        </div>
    </div>
    <button class="margin-bottom-0 margin-top-3 button" type="submit">Register trailers</button>
</main>

<script>
    $(".button").click(function() {
        go("/register/trailer-declaration")
    })
</script>

{% endblock %}