{% extends "layout.html" %} {% block page_title %} Blank page {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="phase-banner">
        <p><strong class="phase-tag">ALPHA</strong><span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span></p>
    </div>
    <a href="#" class="link-back">Back</a>
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="warning-panel">
                <h1 class="heading-large">You cannot register this trailer</h1>
            </div>
            <p>The VIN <strong class="bold-small">7JNJO1ZLSQE293625</strong> does not match the registration number <strong class="bold-small">A3679333</strong>.</p>

            <p>You may have entered the VIN incorrectly.</p>

            <details>
                <summary><span class="summary">The VIN is correct</span></summary>
                <div class="panel panel-border-narrow">

                    <p>
                        If you’ve entered the VIN correctly contact DVLA:
                    </p>

                    <p><strong class="bold-small">0300 300 1350</strong> (enter 821 when prompted) <br>Monday to Friday, 8am to 7pm <br>Saturday, 8am to 2pm <br> <a href="#">Find out about call charges</a>
                    </p>

                </div>
            </details>


            <button class="button-below-body button" type="submit">Re-enter VIN</button>
            <p class="margin-bottom-0"><a href="/register/trailer-record">Cancel and go to trailer dashboard</a></p>
        </div>
    </div>
</main>
<script>
    $(".button").click(function() {
        go("/register/trailer-vin")
    })
</script>

{% endblock %}