{% extends "layout.html" %} {% block page_title %} Blank page {% endblock %} {% block content %}

<main id="content" role="main">
    <h4 class="log-out heading-small">Log out</h4>
    <div class="phase-banner">
        <p><strong class="phase-tag">ALPHA</strong><span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span></p>
    </div>
    <div class="grid-row">
        <div class="column-full">
        </div>
        <div class="column-two-thirds">
            <div class="register-confirmation-panel">

                <h1 class="margin-bottom-1 h1-large heading-large">Trailer registration successful</h1>
            </div>
            <h3 class="heading-medium">Summary</h3>

            <table>
                <thead>
                    <tr>
                        <th scope="col">Registration number</th>
                        <th class="vin-chassis-number" scope="col">VIN / chassis number</th>
                        <th class="numeric" scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="padding-right-0" scope="row">A1234567</th>
                        <td class="vin-chassis-number">10012345678</td>
                        <td class="numeric"></td>
                    </tr>
                    <tr>
                        <th scope="row">B1260484</th>
                        <td class="vin-chassis-number">20012345678</td>
                        <td class="numeric"></td>
                    </tr>


                </tbody>
            </table>


            <p class="margin-top-6">A receipt of the transaction and an electronic number plate authorisation certificate has been sent to <strong class="bold-small">enquiries@alshaulage.com</strong>.</p>
            <p>You’ll receive your new UK Trailer Registration Certificates within <strong class="bold-small">3 to 5 days</strong>. These must be kept with the trailers.</p>
            
            <h3 class="heading-medium">What to do next</h3>
            
            <p>Get number plates made up with your nearest <a href="#">registered number plate </a> supplier (RNPS) using the electronic number plate authorisation certificate. You do not need to wait for the registration certificate to arrive in the post to get number plates.</p>
            
    <p class="margin-top-2">You can <a href="#">print this page</a> for your records.</p>
    <button class="margin-bottom-0 margin-top-3 button" type="submit">Return to trailer record</button>
        </div>
    </div>
    

</main>

<script>
    $(".button").click(function() {
        go("/dashboard/trailer-record-1-trailer")
    })
</script>

{% endblock %}