{% extends "layout.html" %} {% block page_title %} Blank page {% endblock %} {% block content %}

<main id="content" role="main">
    <h4 class="log-out heading-small">Log out</h4>
    <div class="phase-banner">
        <p><strong class="phase-tag">ALPHA</strong><span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span></p>
    </div>
    <a href="/register/trailer-record" class="link-back">Back</a>
    <div class="grid-row">
        <div class="column-two-thirds">
            
                <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

                <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">An error has occured! </h2>

                <p>The checkbox has not been selected</p>

                <ul class="error-summary-list">

                    <li><a href="#scp-user-id">Select the box if you have read the declaration</a></li>
                </ul>

            </div>
            
            
            
            <h1 class="h1-large heading-large">Trailer registration declaration</h1>

            <p>You must register any trailers that:</p>
            <ul class="list list-bullet">
                <li>travel abroad, weigh over 750kg and are used commercially</li>
                <li>travel abroad, weigh over 3,500kg and are not used commercially</li>
            </ul>

            <p>Trailers travelling to the Republic of Ireland, Spain, Cyprus and Malta are not required to register, unless they pass through a foreign country that has ratified the 1968 Vienna Convention.</p>

            <p>It is optional to register for all other trailers.</p>

            <p>If you’re still unsure, you can <a href="/register/trailer-weights">check if you need to register your trailer</a></p>

            <div class="form-group">
                 <span class="margin-bottom-1 error-message checkbox">Select the box if you have read the declaration</span>
                <div class="multiple-choice">
                    <input id="checkbox" name="checkbox" type="checkbox" value="checkbox">
                    <label for="checkbox">I have read and understand which trailers need to be registered</label>
                       
                    </div>
                    

                </div>
            
            <button class="margin-bottom-0 margin-top-6 button" type="button">Continue</button>



        </div>
    </div>
</main>

<script>
    $(".button").click(function() {

        var checked = $("input[name=checkbox]:checked").val();
        var validInput = true;

        if (!checked) {
            validInput = false;
            $(".error-summary").css("display", "block");
            $(".error-message.checkbox").css("display", "block");
            $("input[name=checkbox]").closest(".form-group").addClass("form-group-error");
            $(document).find("input").last().addClass("form-control-error");
            $('body').scrollTop();
        }

        if (validInput) {
            go("/register/trailer-weights");
        }
    })
</script>

{% endblock %}