{% extends "layout.html" %} {% block page_title %} Blank page {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="phase-banner">
        <p><strong class="phase-tag">ALPHA</strong><span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span></p>
    </div>
    <a href="#" class="link-back">Back</a>
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="warning-panel">
                <h1 class="heading-large">You do not need to <br>register this trialer</h1>
            </div>
        </div>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">
            <p>Trailers travelling to the Republic of Ireland are not required to register, unless you pass through a foreign country that has ratified the 1968 Vienna Convention.</p>
            <p>You can still create a trailer record if you want to.</p>
            <button class="button-below-body button" type="submit">I still want to register</button>
            <p class="margin-bottom-0"><a href="/index">Cancel and go to trailer record</a></p>
        </div>
    </div>
</main>
<script>
    $(".button").click(function() {
        go("/create/behalf-of-company")
    })
</script>

{% endblock %}