{% extends "layout.html" %} {% block page_title %} Blank page {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="phase-banner">
        <p><strong class="phase-tag">ALPHA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span></p>
    </div>
    <a href="/create/outside-uk" class="link-back">Back</a>
    <div class="grid-row">
        <div class="column-two-thirds">


            <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

                <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
                    An error has occured!</h2>

                <p>Are any of the checkboxes selected?</p>

                <ul class="error-summary-list">
                    <li><a href="#example-personal-details">Select one or more of the checkboxes </a></li>
                </ul>

            </div>

            <h1 class="h1-large heading-large">Will you be travelling to any of the following countries, with any of <br>these trailers?</h1>
            <span class="body-text">Select all the countries that apply</span>

            <form>
                <div class="form-group">
                    <fieldset>

                        <legend id="example-personal-details"><span class="error-message">Select one or more of the checkboxes</span></legend>

                        <div class="multiple-choice">
                            <input id="checkbox-ireland" name="countries" type="checkbox" value="Yes-republic-of-ireland">
                            <label for="country-1">Republic of Ireland</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="checkbox-spain" name="countries" type="checkbox" value="Yes-spain">
                            <label for="country-2">Spain</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="checkbox-cyprus" name="countries" type="checkbox" value="Yes-cyprus">
                            <label for="country-3">Cyprus</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="checkbox-malta" name="countries" type="checkbox" value="Yes-malta">
                            <label for="country-4">Malta</label>
                        </div>
                        <p class="form-block">or</p>

                        <div class="multiple-choice">
                            <input id="checkbox-no" name="countries" type="checkbox" value="No-countries">
                            <label for="no-countries">No, I won’t be travelling to any of these countries</label>
                        </div>

                    </fieldset>
                </div>

                <button class="margin-bottom-0 margin-top-3 button"type="button">Continue</button>

            </form>
        </div>
    </div>

</main>





<script type="text/javascript">
    $('input#checkbox-no').click(function() {
        $('input[name=countries]').not(this).removeAttr('checked');

    });
    $('input[name=countries]').not('input#checkbox-no').click(function() {
        $('input#checkbox-no').removeAttr('checked');
    });

    $('.button').click(validate);

    function validate() {
        var value = $('input[name=countries]:checked').val();
        if (!value) {
            $(".error-summary").css("display", "block").focus();
            $(".error-message").css("display", "block");
            $(".form-group").addClass("form-group-error");
            $('body').scrollTop();
        } else {
            next();
        }

        function next() {
            if (value == 'No-countries') {
                go('/register/vienna-convention-part-2');
            } else {

                go('/register/trailer-commercially');
            }
        }
    }

</script>

{% endblock %}
