{% extends "layout.html" %} {% block page_title %} Blank page {% endblock %} {% block service_name %} {% endblock %} {% block content %}

<main id="content" role="main">
    <div class="breadcrumbs">
        <ol>
            <li><a href="https://www.gov.uk">Home</a></li>
            <li><a href="">Driving and transport</a></li>
            <li><a href="">Number plates, vehicle registration and log books</a></li>
        </ol>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="margin-top-1 margin-bottom-1 heading-xlarge">Register and manage <br>your trailers</h1>
            <p>Use this service to register and manage your trailers.</p>
            <p>A trailer is anything on wheels which is intended or adapted to be drawn <br>by a motor vehicle.</p>
            <div class="panel panel-border-wide">
                <p>This page is also available in Welsh (<a href="#">Cymraeg</a>)</p>
            </div>
            <p><button class="margin-top-3 button button-start" role="button">Start now</button></p>
            <h2 class="margin-top-3 heading-medium">Before you start</h2>
            <p>You will need:</p>
            <ul class="margin-bottom-0 list list-bullet">
                <li>details of your trailers</li>
                <li>a valid email address</li>
                <li>a debit or credit card.</li>
            </ul>
        </div>
        <div class="column-third">
            <aside class="margin-top govuk-related-items" role="complementary">
                <h2 class="heading-medium" id="subsection-title">Driving and transport</h2>
                <nav role="navigation" aria-labelledby="subsection-title">
                    <ul class="font-xsmall">
                        <li><a href="#">Vehicle registration</a></li>
                        <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
                    </ul>
                </nav>
            </aside>
        </div>
    </div>
</main>

<script>
$(".button").click( function(){
    go("register/trailer-keeper-number")
})
</script>


{% endblock %} {% block footer_top %} {% include "includes/footer-categories.html" %} {% endblock %}


